include:
  - project: $CI_CONFIG_PROJECT
    ref: $CI_CONFIG_BRANCH
    file: 'templates/playwright_net.yml'
  - project: $CI_CONFIG_PROJECT
    ref: $CI_CONFIG_BRANCH
    file: 'templates/sync_to_github.yml'

stages:
  - build
  - deploy

variables:
  POM_VERSION: 1.0.0
  POM_DIR: "POM.Abstractions"
  POM_PROJ: "SkbKontur.Playwright.POM.Abstractions"
  PW_CORE_VERSION: 0.0.4
  PW_CORE_DIR: "Playwright.TestCore"
  PW_CORE_PROJ: "SkbKontur.Playwright.TestCore"

build_pom_abstractions:
  variables:
    VERSION: ${POM_VERSION}
    PROJECT_DIR: ${POM_DIR}
    PROJECT_NAME: ${POM_PROJ}
  stage: build
  extends: [ .package_version, .dotnet_build ]
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == "master"
      changes:
        - ${POM_DIR}/**/*
      when: on_success
    - changes:
        - ${POM_DIR}/**/*
      when: manual
    - when: never

build_pw_core:
  variables:
    VERSION: ${PW_CORE_VERSION}
    PROJECT_DIR: ${PW_CORE_DIR}
    PROJECT_NAME: ${PW_CORE_PROJ}
  stage: build
  extends: [ .package_version, .dotnet_build ]
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == "master"
      changes:
        - ${PW_CORE_DIR}/**/*
      when: on_success
    - changes:
        - ${PW_CORE_DIR}/**/*
      when: manual
    - when: never

publish_pom_abstractions:
  variables:
    PROJECT_DIR: ${POM_DIR}
    PROJECT_NAME: ${POM_PROJ}
    VERSION: ${POM_VERSION}
    NUGET_ORG_API_KEY: ${NUGET_PW_API_KEY}
  stage: deploy
  extends: [ .package_version, .dotnet_nuget_publish ]
  dependencies:
    - build_pom_abstractions
  needs: 
    - build_pom_abstractions
  rules:
    - changes:
        - ${POM_DIR}/**/*
      when: manual
    - when: never

publish_pw_core:
  variables:
    PROJECT_DIR: ${PW_CORE_DIR}
    PROJECT_NAME: ${PW_CORE_PROJ}
    VERSION: ${PW_CORE_VERSION}
    NUGET_ORG_API_KEY: ${NUGET_PW_API_KEY}
  stage: deploy
  when: manual
  extends: [ .package_version, .dotnet_nuget_publish ]
  dependencies:
    - build_pw_core  
  needs:
    - build_pw_core
  rules:
    - changes:
        - ${PW_CORE_DIR}/**/*
      when: manual
    - when: never

set_tag_pom_version:
  variables:
    PROJECT_NAME: ${POM_PROJ}
    PACKAGE_VERSION: ${POM_VERSION}
  extends: [.tag_version]
  stage: deploy
  needs:
    - publish_pom_abstractions
  rules: 
    - if: $CI_COMMIT_BRANCH == "master"
      changes:
        - ${POM_DIR}/**/*
    - when: never
  
set_tag_PW_core_version:
  variables:
    PROJECT_NAME: ${PW_CORE_PROJ}
    PACKAGE_VERSION: ${PW_CORE_VERSION}
  extends: [.tag_version]
  stage: deploy
  needs:
    - publish_pw_core
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      changes:
        - ${PW_CORE_DIR}/**/*
    - when: never

sync_github:
  stage: deploy
  when: manual
  extends: [ .sync_to_github ]