include:
  - project: $CI_CONFIG_PROJECT
    ref: $CI_CONFIG_BRANCH
    file: 'templates/playwright_net.yml'
  - project: $CI_CONFIG_PROJECT
    ref: $CI_CONFIG_BRANCH
    file: 'templates/sync_to_github.yml'

stages:
  - pack
  - publish
  - deploy

variables:
  POM_ABSTRACTIONS_VERSION: 0.0.1
  POM_PROJ: "SkbKontur.Playwright.POM.Abstractions"
  POM_PW_TESTCORE_VERSION: 0.0.2
  PW_CORE_PROJ: "SkbKontur.Playwright.TestCore"

pack_pom_abstractions:
  variables:
    VERSION: ${POM_ABSTRACTIONS_VERSION}
    PROJECT_DIR: "POM.Abstractions"
    PROJECT_NAME: ${POM_PROJ}
  stage: pack
  extends: [ .package_version, .dotnet_pack ]
  when: manual

pack_pw_core:
  variables:
    VERSION: ${POM_PW_TESTCORE_VERSION}
    PROJECT_DIR: "Playwright.TestCore"
    PROJECT_NAME: ${PW_CORE_PROJ}
  stage: pack
  extends: [ .package_version, .dotnet_pack ]
  when: manual

publish_pom_abstractions:
  variables:
    PROJECT_NAME: ${POM_PROJ}
    VERSION: ${POM_ABSTRACTIONS_VERSION}
    NUGET_ORG_API_KEY: ${NUGET_PW_API_KEY}
  stage: publish
  when: manual
  extends: [ .package_version, .dotnet_nuget_publish ]
  dependencies:
    - pack_pom_abstractions
  needs: 
    - pack_pom_abstractions

publish_pw_core:
  variables:
    PROJECT_NAME: ${PW_CORE_PROJ}
    VERSION: ${POM_PW_TESTCORE_VERSION}
    NUGET_ORG_API_KEY: ${NUGET_PW_API_KEY}
  stage: publish
  when: manual
  extends: [ .package_version, .dotnet_nuget_publish ]
  dependencies:
    - pack_pw_core  
  needs:
    - pack_pw_core