include:
  - project: $CI_CONFIG_PROJECT
    ref: $CI_CONFIG_BRANCH
    file: 'templates/playwright-net.yml'

stages:
  - pack
  - publish
  - deploy

variables:
  POM_ABSTRACTIONS_VERSION: 0.0.1
  POM_PROJ: "SkbKontur.POM.Abstractions"
  POM_PW_TESTCORE_VERSION: 0.0.1
  PW_CORE_PROJ: "SkbKontur.Playwright.TestCore"

pack_pom_abstractions:
  variables:
    VERSION: ${POM_ABSTRACTIONS_VERSION}
    PROJECT_DIR: "POM.Abstractions"
    PROJECT_NAME: ${POM_PROJ}
  stage: pack
  extends: [ .package_version, .dotnet_pack ]
  when: manual

pack_pw_core:
  variables:
    VERSION: ${PW_CORE_VERSION}
    PROJECT_DIR: "Playwright.TestCore"
    PROJECT_NAME: ${PW_CORE_PROJ}
  stage: pack
  extends: [ .package_version, .dotnet_pack ]
  when: manual

publish_pom_abstractions:
  variables:
    PROJECT_NAME: ${POM_PROJ}
    VERSION: ${POM_ABSTRACTIONS_VERSION}
  stage: publish
  when: manual
  extends: [ .package_version, .dotnet_nuget_publish ]
  dependencies:
    - pack_pom_abstractions

publish_pw_core:
  variables:
    PROJECT_NAME: ${PW_CORE_PROJ}
    VERSION: ${PW_CORE_VERSION}
  stage: publish
  when: manual
  extends: [ .package_version, .dotnet_nuget_publish ]
  dependencies:
    - pack_pw_core